/* Basic */
:root{
    --light-grey: #ddd;
    --primary: #457b9d;
    --secondary: #1d3557;
    --accent: #e63946;
    --light-blue:#a8dadc;
    --off-white: #f1faee;
    --text-primary: rgb(0, 0, 0);

    /* Margin */
    --section-mt: 50px;

    /* Font */
    
    box-sizing: border-box;
}
body{
    margin: 0;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    display: none;
}
::-webkit-scrollbar-thumb{
    background-color: var(--secondary);
    display: visible;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.section-title{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 600;
    color: var(--accent);
    text-align: center;
    
}

/* header */

header{
    padding: 10%;
    position: relative;
    /* background: #a8dadcc7; */
    background-color: #d9f2f3;
    overflow: hidden;
}
header p{
    position: relative;
}
.pattern {
    position: absolute;
    height: 28em;
    z-index: 0;
    top: 0;
    left: 0;
    width: 50%;
    transform: rotate(225deg) translateX(-38em) translateY(47em);
    background: linear-gradient(135deg, #d9f2f3 25%, transparent 25%) -50px 0, linear-gradient(225deg, #d9f2f3 25%, transparent 25%) 0px 0, linear-gradient(315deg, #d9f2f3 25%, transparent 25%), linear-gradient(45deg, #d9f2f3 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: #EC173A;
    background-color: blueviolet;
    opacity: 0.3;
}
.intro{
    color: var(--accent);
    font-size: 34px;
    letter-spacing: 0;
}

.sub-intro{
    color: var(--secondary);
}
/* project-content */

#projects-content{
    padding-top: var(--section-mt);
}

#project-listing-container{
margin: 0 20px;
border-top: 2px solid var(--primary);
padding: 30px;
}
#project-list{
    max-width: 900px;
    margin: auto;
    width: 100%;
}
#project-listing-container li{
    margin-bottom: 30px;
}
.project-item-container{
    width: 250px;
    height: 300px;
    padding: 20px;
    box-shadow: 0 0 10px var(--light-grey);
    
}
.project-item-container .title{
    color: var(--primary);
}
.project-item-container .link{
    color: var(--accent);
    font-size: 12px;
    font-weight: bold;
}
.short-desc{
    color: var(--secondary);
}

@media screen and (max-width: 767px){
    .pattern{
        top: 27%;
        left: -40pc;
        height: 37em;
    }
    .project-item-container{
        margin: auto;
    }
    #project-list{
        padding-left: 0;
    }
    
}